.soporte-bienvenida {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pagina-soporte-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 73%;
	width: 100%;
	padding-top: 50px;
}

.menu-principal-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 91% 12%;
	max-height: 400px;
	position: relative;
	max-width: 670px;
	grid-template-areas: "acreditados" "administradores";
	gap: 29px;
}

.acreditados-card,
.administradores-card {
	cursor: pointer;
	border-radius: 5px;
	padding: 60px 12px;
	margin: 0;
	height: 275px;
	width: 300px;
	box-sizing: border-box;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, .2);
	color: unset;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 1.2rem;
}

.soporte-bienvenida {
	margin-bottom: 1.8rem;
}

.soporte-descripcion {
	width: 600px;
	text-align: center;
	margin-bottom: 1.8rem;
}

.acreditados-card-title,
.administrador-card-title {
	font-size: 1.5rem;
}

.administrador-card-desc,
.acreditados-card-desc {
	font-size: 1.1rem;
	text-align: center;
}

.ir-al-articulo-button {
	margin-top: 10px;
	padding: 5px 15px;
	font-size: 1.3rem;
	border-radius: 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #b7b7b7;
	color: var(--light) !important;
	cursor: pointer;
	border-color: #b7b7b7;
}

.soporte-header {
	position: fixed;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
	width: 100%;
	transition: .2s all ease;
	z-index: 99;
	margin-top: 24px;
}

.navbar a img {
	width: 200px;
}

/* acreditado */

.pagina-acreditado-container {
	display: flex;
	flex-direction: column;
}

.articulos-container {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articulo-preview{
	max-width: 300px;
	cursor: pointer;
	border-radius: 5px;
	padding: 30px 20px;
	box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
	margin: 20px;
}

.articulo-preview a {
	text-decoration:none;
	color: black;
}

.articulo-preview h1{
	font-size: 20px;
	text-align: justify;
}

.articulo-preview {
	text-align: justify;
}