.soporte-bienvenida {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pagina-soporte-portada {
	background: url("https://acreditta.com/img/bg-portada-blog.png");
	padding-top: 110px;
	padding-bottom: 75px;
	width: 100%;
	height: 100%;
	background-size: 100%;
	box-sizing: border-box;
}

.pagina-soporte-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 73%;
	width: 100%;
}

.pagina-soporte-portada {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pagina-soporte-imagen-container img {
	width: 450px;
	border-radius: 10px;
}
.pagina-soporte-textos {
	color: white;
}

.menu-principal-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 91% 12%;
	max-height: 300px;
	position: relative;
	max-width: 670px;
	grid-template-areas: "acreditados" "administradores";
	gap: 29px;
	padding-top: 40px;
	margin-bottom: 80px;
}

.acreditados-card,
.administradores-card {
	cursor: pointer;
	border-radius: 5px;
	padding: 60px 12px;
	margin: 0;
	height: 275px;
	width: 300px;
	box-sizing: border-box;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, .2);
	color: unset;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 1.2rem;
}

.soporte-bienvenida {
	margin-bottom: 1.8rem;
}

.soporte-descripcion {
	width: 600px;
	text-align: center;
	margin-bottom: 1.8rem;
}

.acreditados-card-title,
.administrador-card-title {
	font-size: 1.5rem;
	text-align: center;
}

.administrador-card-desc,
.acreditados-card-desc {
	font-size: 1.1rem;
	text-align: justify;
	padding: 10px;
}

.ir-al-articulo-button {
	margin-top: 10px;
	padding: 5px 15px;
	font-size: 1.3rem;
	border-radius: 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #e11f1c;
	color: var(--light) !important;
	cursor: pointer;
	border-color: #b7b7b7;
}

.soporte-header {
	position: fixed;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
	width: 100%;
	transition: .2s all ease;
	z-index: 99;
	margin-top: 24px;
}

.navbar a img {
	width: 200px;
}

/* acreditado */

.pagina-acreditado-container {
	display: flex;
	flex-direction: column;
}

.articulos-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 40px;
}

.articulo-preview {
	max-width: 300px;
	cursor: pointer;
	border-radius: 5px;
	padding: 30px 20px;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, .2);
	margin: 20px;
}

.articulo-preview a {
	text-decoration: none;
	color: black;
}

.articulo-preview h1 {
	font-size: 20px;
	text-align: left;
}

.articulo-preview {
	text-align: justify;
}

.pagina-acreditado-subtitulos {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

.acreditado-bienvenida-container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 0px;
}

.acreditado-bienvenida-container p {
	max-width: 60%;
	padding-top: 20px;
	text-align: justify;
}

.acreditado-bienvenida-container {
	background: url("https://acreditta.com/img/bg-portada.png");
	padding-top: 110px;
	padding-bottom: 75px;
	width: 100%;
	height: 100%;
	background-size: 100%;
	box-sizing: border-box;
}

.acreditado-textos-container {
	color: white;
	font-size: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.acreditado-textos-container p {
	font-size: 25px;
	text-align: center;
}

.articulo-preview p {
	color: gray;
}

@media screen and (max-width: 480px) {
	.acreditado-bienvenida-container {
		height: 100px;
		background-size: 400px;
	}

	.acreditado-textos-container h1,
	.acreditado-textos-container p {
		display: none;
	}

	.pagina-acreditado-subtitulos {
		padding-top: 20px;
	}

	.pagina-soporte-portada {
		display: flex;
		flex-direction: column-reverse;
		background-size: cover;
		padding-top: 30px;
	}

	.menu-principal-container {
		display: flex;
		flex-direction: column;
		padding-top: 0px;
	}

	.soporte-descripcion {
		width: 100%;
	}

	.pagina-soporte-imagen-container img {
		width: 80%;
	}

	.pagina-soporte-imagen-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 10px;
	}

	.soporte-bienvenida {
		text-align: center;
		font-size: 1.6rem;
	}
}
